
<h1>Projects</h1>
<hr>
<table class="table" style="border-collapse: collapse; border: 1px solid #ddd;">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.user.email %></td>
        <td>
          <%= link_to 'Show', project %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Project', new_project_path  %>

