<!DOCTYPE html>
<html>
  <head>
    <title>PmDemoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete , style: 'float: right'%>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, style: 'float: right' %> |
        <%= link_to 'Sign in', new_user_session_path , style: 'float: right'%>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
  </body>
</html>


